#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/*-------------------------------------------------------------------------------------------------------------------*/

body{
  width: 100%;
}
header{
  border: 2px solid black;
  width: 100%;
}

.containerr{
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-top: 20px;
}

img{
  width: 200px;
  height: 300px;
}
.cont1{
  display: block;
  margin: 0 auto;
  
}
.cont2{
  display: flex;
  margin: 0 auto;
  
}

nav{
  border: 2px solid black;
  margin-top: 20px;
  background-color: #808080;
}
nav div{
  font-size: 20px;
}
nav div a{
  text-decoration: none;
  transition-duration: 0.5s;
}
nav div a:hover{
  transition-duration: 0.5s;
  border: 2px solid black;
}
nav div a b{
  color: black;
}

.foot{
  border: 2px solid black;
  margin-top: 20px;
  height: 30px;
}
.foot h6{
  line-height: 25px;

}
.yo{
  width: auto;
  transition-duration: 0.5s;
}

.yo:hover{
  border-radius: 10px;
  transform: scale(1.2);
  transition-duration: 0.5s;
}
