.divbox1{
    border: 2px solid black;
    margin-top: 20px;
}

.divbox5{
    margin-top: 50px;
    margin-bottom: 50px;
}

.img1, .img2, .img3{
    display: block;
    margin: 0 auto;
    width: 550px;
    height: 300px;
    transition-duration: 0.5s;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img1:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.img2:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.img3:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.i1{
    width: 550px;
    height: 300px;
    
}