
.ok{
    width: 500px;
    height: 200px;
    margin-top: 30px;
    transition-duration: 0.5s;
}

.box:hover{
    transition-duration: 0.5s;
    transform: scale(1.2);
    border-radius: 5px;
    background-color: rgb(216, 215, 215);
    transition-duration: background-color 0.8s ease;
}
.rar{
    border: 2px sold black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box{
    border: 2px solid black;
    width: 600px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition-duration: 0.5s;
}